In [259]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

#### Subcat Wise GMV and Active Buyers

In [260]:
df_GMV=pd.read_csv(r'C:\Users\Akhil\Downloads\GMV_Impression.csv')
df_GMV.head()

,Subcategory,Daily Active Buyers,Impressions (Buyer X Variant X Date),Clicks (Buyer X Variant X Date),Unique Buyers with Impressions,Unique Buyers with Clicks,Buyer Relevancy,Buyers Ordered,Buyers Ordered to Buyers Clicked,Variant on App,...,Buyers Per Variant With Impressions,Buyers Per Variant With Clicks,Variants Per Buyer With Impressions,Variants Per Buyer With Clicks,Buyers with ATT,ATT_Quantity,GMV,Total Units,GMV per Buyer,GMV per Variant
0,vests,23250,1330974,31801,22965,7961,0.35,792,0.10,697,...,38.34,15.95,0.03,0.06,2198,216255.0,2947361.0,45652.0,3721.0,10796.0
1,trousers,28676,2033974,63392,28477,10060,0.35,488,0.05,1952,...,15.49,6.43,0.06,0.16,1565,52738.0,3908081.0,10887.0,8008.0,7430.0
2,track suits,25338,1332198,43647,25126,8206,0.33,427,0.05,516,...,48.69,18.15,0.02,0.06,1196,26195.0,5371613.0,6366.0,12580.0,24416.0
3,track pants,38281,5104588,202379,37918,17027,0.45,2029,0.12,4152,...,9.67,5.36,0.10,0.19,4716,312572.0,13231015.0,70113.0,6521.0,9736.0
4,tops,18517,1423470,35040,18400,4805,0.26,225,0.05,1656,...,12.44,3.77,0.08,0.27,792,26561.0,989041.0,4947.0,4396.0,2344.0

In [261]:
df_GMV=df_GMV[['Subcategory','Daily Active Buyers','GMV']]
df_GMV['Subcategory']=df_GMV['Subcategory'].str.upper()
df_GMV=df_GMV.groupby('Subcategory').agg({'Daily Active Buyers':'sum','GMV':'sum'}).reset_index()
df_GMV.head()

       Subcategory  Daily Active Buyers        GMV
0            BOOTS                    8        0.0
1              BRA                18967  1728866.0
2           BRIEFS                23818  5292758.0
3  CANVAS/SNEAKERS                    5        0.0
4      CAPS & HATS                26995  3106350.0

#### SubCategory Wise Impression

In [262]:
df=pd.read_csv(r'C:\Users\Akhil\Downloads\Impressions_Data.csv')
df=df.rename(columns={'Impressions (Buyer X Variant X Date)':'Imp'})
df['Subcategory']=df['Subcategory'].str.upper()
df['Subcategory']=df['Subcategory'].str.lstrip()
df['Subcategory']=df['Subcategory'].str.rstrip()
df['Event_Date']=pd.to_datetime(df['Event_Date'])
df_final=df.groupby(['Subcategory','Event_Date']).sum().reset_index()
df_final=df_final[df_final['Imp']>0]
df_final=df_final[df_final['Subcategory']!='-']
df_final_temp=df_final
df.head()

                     Subcategory Event_Date     Imp
0      EVA FULL MOULDED SLIPPERS 2023-12-21  144873
1     SYNTHETIC HANDMADE JUTTIES 2023-12-21   28243
2  LEATHER HANDMADE FORMAL SHOES 2023-12-21   19319
3  LEATHER HANDMADE LOAFER SHOES 2023-12-21    6858
4  LEATHER HANDMADE SAFETY SHOES 2023-12-21    5481

In [263]:
df.head()

                     Subcategory Event_Date     Imp
0      EVA FULL MOULDED SLIPPERS 2023-12-21  144873
1     SYNTHETIC HANDMADE JUTTIES 2023-12-21   28243
2  LEATHER HANDMADE FORMAL SHOES 2023-12-21   19319
3  LEATHER HANDMADE LOAFER SHOES 2023-12-21    6858
4  LEATHER HANDMADE SAFETY SHOES 2023-12-21    5481

In [264]:
data_dev=df.drop('Event_Date',axis=1)
data_dev=data_dev.groupby('Subcategory').describe().reset_index()
data_dev.columns = data_dev.columns.map('_'.join)
data_dev.columns =data_dev.columns.str.replace('Imp_','')
data_dev.columns =data_dev.columns.str.replace('_','')
data_dev=data_dev[['Subcategory','std','count']]
data_dev=data_dev[data_dev['Subcategory']!='-']

data_dev.head()

       Subcategory           std  count
1            BOOTS     24.248343    8.0
2              BRA   5262.639022   61.0
3           BRIEFS   4584.948791   61.0
4  CANVAS/SNEAKERS     18.047160    5.0
5      CAPS & HATS  12281.511251   61.0

#### Subcategory Wise Impression Percentage Change

In [265]:
df_final=df_final.sort_values(by=['Subcategory','Event_Date'])
df_final['LagValue']=df_final.groupby('Subcategory')['Imp'].diff()
df_final=df_final.fillna(0)
df_final['Shift']=df_final.groupby('Subcategory')['Imp'].shift(1)
df_final=df_final.fillna(0)
df_final['Percentage']=(df_final['LagValue']/df_final['Shift'])*100
df_final=df_final.fillna(0)
df_final

,Subcategory,Event_Date,Imp,LagValue,Shift,Percentage
61,BOOTS,2023-12-09,1,0.0,0.0,0.000000
62,BOOTS,2023-12-22,63,62.0,1.0,6200.000000
63,BOOTS,2024-01-02,33,-30.0,63.0,-47.619048
64,BOOTS,2024-01-03,1,-32.0,33.0,-96.969697
65,BOOTS,2024-01-15,44,43.0,1.0,4300.000000
...,...,...,...,...,...,...
6688,WOVEN VALUE ADDITION KURTIS (HAND AND STONE WORK),2023-12-29,3,2.0,1.0,200.000000
6689,WOVEN VALUE ADDITION KURTIS (HAND AND STONE WORK),2023-12-30,1,-2.0,3.0,-66.666667
6690,WOVEN VALUE ADDITION KURTIS (HAND AND STONE WORK),2024-01-18,1,0.0,1.0,0.000000
6691,WOVEN VALUE ADDITION SAREES (HAND AND STONE WORK),2023-12-29,2,0.0,0.0,0.000000
6692,WOVEN VALUE ADDITION SAREES (HAND AND STONE WORK),2024-01-26,1,-1.0,2.0,-50.000000

In [266]:
df_final.to_csv('df_new_data_Akhil.csv',index=False)

PermissionError: [Errno 13] Permission denied: 'df_new_data_Akhil.csv'

In [267]:
# Assuming df_final is your DataFrame
df_final = df_final[['Subcategory', 'Percentage']]
df_final_stats = df_final.groupby('Subcategory').describe().reset_index()
df_final_stats.columns = df_final_stats.columns.map('_'.join)
df_final_stats.columns = df_final_stats.columns.str.replace('Percentage_', '')
df_final_stats.columns = df_final_stats.columns.str.replace('_', '')
df_final_stats=df_final_stats[['Subcategory','std','count']]
df_final_stats.head()

       Subcategory          std  count
0            BOOTS  2460.324546    8.0
1              BRA    27.513890   61.0
2           BRIEFS    24.965271   61.0
3  CANVAS/SNEAKERS  1298.835821    5.0
4      CAPS & HATS    17.181335   61.0

In [268]:
df_final_stats[df_final_stats['Subcategory']=='PVC MOULDED SPORTS SHOES']

                  Subcategory        std  count
131  PVC MOULDED SPORTS SHOES  13.195043   61.0

In [269]:
df_final_new=df_final_stats.merge(df_GMV,how='inner',on='Subcategory')
df_final_new.head()

       Subcategory          std  count  Daily Active Buyers        GMV
0            BOOTS  2460.324546    8.0                    8        0.0
1              BRA    27.513890   61.0                18967  1728866.0
2           BRIEFS    24.965271   61.0                23818  5292758.0
3  CANVAS/SNEAKERS  1298.835821    5.0                    5        0.0
4      CAPS & HATS    17.181335   61.0                26995  3106350.0

In [270]:
df_final_new[df_final_new['Subcategory']=='PVC MOULDED SPORTS SHOES']

,Subcategory,std,count,Daily Active Buyers,GMV
131,PVC MOULDED SPORTS SHOES,13.195043,61.0,76424,89061189.0

In [271]:
df_final_new.to_csv('data_1_akhil.csv',index=False)

PermissionError: [Errno 13] Permission denied: 'data_1_akhil.csv'

## df_final_new is the final data for impression bucketing

In [272]:
df_Eva=df_final_temp[df_final_temp['Subcategory']=='SYNTHETIC MACHINE PASTED SCHOOL SHOES']

In [273]:
import plotly.express as px

df_Eva = df_Eva.sort_values('Event_Date')

# Create an interactive line chart with plotly and include a filter for 'Subcategory'
fig = px.line(df_Eva, x='Event_Date', y='Imp', color='Subcategory', title='Event Dates vs. Impression', labels={'Imp': 'Value', 'Event_Date': 'Event Date'})
fig.update_xaxes(rangeslider_visible=True)  # Add a range slider for date zooming
fig.show()

#### Platform median  Impression Calculation

In [274]:
df_med_subcat=df.drop(['Event_Date'],axis=1)
df_med_subcat=df_med_subcat.groupby('Subcategory').describe().reset_index()
df_med_subcat.columns=df_med_subcat.columns.map('_'.join)
df_med_subcat.columns=df_med_subcat.columns.str.replace('Imp_','')
df_med_subcat.columns=df_med_subcat.columns.str.replace('_','')
df_med_subcat.head()

,Subcategory,count,mean,std,min,25%,50%,75%,max
0,-,61.0,31113.081967,29355.084226,0.0,162.0,27452.0,58167.00,85865.0
1,BOOTS,8.0,19.375000,24.248343,1.0,1.0,6.0,35.75,63.0
2,BRA,61.0,20829.950820,5262.639022,12090.0,17605.0,19148.0,23469.00,37229.0
3,BRIEFS,61.0,24229.229508,4584.948791,15113.0,21379.0,23431.0,26288.00,35161.0
4,CANVAS/SNEAKERS,5.0,14.200000,18.047160,1.0,1.0,2.0,28.00,39.0

In [275]:
df_med_subcat=df_med_subcat[['Subcategory','50%']]
df_med_subcat.columns=df_med_subcat.columns.str.replace('50%','Median')

In [276]:
df_med_subcat=df_med_subcat.fillna(0)
df_med_subcat.head()

       Subcategory   Median
0                -  27452.0
1            BOOTS      6.0
2              BRA  19148.0
3           BRIEFS  23431.0
4  CANVAS/SNEAKERS      2.0

#### Impression Target by Bucketing

In [277]:
df_final_new=df_final_new[df_final_new['count']>30]
def std_range(value):
    if value >= 30:
        return '30+'
    elif value >= 25:
        return '25-30'
    elif value >= 20:
        return '20-25'
    else:
        return '0-20'
df_final_new['std_range']=df_final_new['std'].apply(std_range)

df_final_new['Platform_median_Imp']=df_med_subcat['Median'].sum().round(2).astype(int)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17592\1363902587.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17592\1363902587.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [278]:
df_final_new

,Subcategory,std,count,Daily Active Buyers,GMV,std_range,Platform_median_Imp
1,BRA,27.513890,61.0,18967,1728866.0,25-30,5896141
2,BRIEFS,24.965271,61.0,23818,5292758.0,20-25,5896141
4,CAPS & HATS,17.181335,61.0,26995,3106350.0,0-20,5896141
6,DHOTI / LUNGI,45.079886,41.0,2893,27855.0,30+,5896141
8,DRESSES & GOWNS,36.827705,54.0,12566,562563.0,30+,5896141
...,...,...,...,...,...,...,...
189,TRACK PANTS,13.753032,61.0,38428,13231015.0,0-20,5896141
190,TRACK SUITS,27.535241,61.0,25338,5371613.0,25-30,5896141
191,TROUSERS,16.383944,61.0,28676,3908081.0,0-20,5896141
192,UNSTITCHED BLOUSE,28.190087,61.0,4501,32562.0,25-30,5896141
193,VESTS,25.798002,61.0,23250,2947361.0,25-30,5896141

In [286]:
df_subcat_median=df_med_subcat[['Subcategory','Median']]
df_final_new=df_final_new.merge(df_subcat_median,how='inner',on='Subcategory')
df_final_new.head()

,Subcategory,std,count,Daily Active Buyers,GMV,std_range,Platform_median_Imp,Median_x,Target,Median_y
0,BRA,27.513890,61.0,18967,1728866.0,25-30,5896141,19148.0,0.748883,19148.0
1,BRIEFS,24.965271,61.0,23818,5292758.0,20-25,5896141,23431.0,1.030941,23431.0
2,CAPS & HATS,17.181335,61.0,26995,3106350.0,0-20,5896141,32062.0,1.567441,32062.0
3,DHOTI / LUNGI,45.079886,41.0,2893,27855.0,30+,5896141,678.0,0.033146,678.0
4,DRESSES & GOWNS,36.827705,54.0,12566,562563.0,30+,5896141,14204.0,0.694402,14204.0

In [288]:
def calculate_target(row, Platform_median_Imp):
    if row['std_range'] == '0-20':
        return row['Median'] / Platform_median_Imp
    elif row['std_range'] == '20-25':
        return (row['Median'] / Platform_median_Imp) * 0.9
    elif row['std_range'] == '25-30':
        return (row['Median'] / Platform_median_Imp) * 0.8
    else:
        # Perform equal distribution for 'STD_range' > 30
        return row['Median'] / Platform_median_Imp
Platform_median_Imp=df_med_subcat['Median'].sum().round(2).astype(int)
# Apply the function to create a new column 'Target'
df_final_new['Target'] = df_final_new.apply(lambda row: calculate_target(row, Platform_median_Imp), axis=1)

KeyError: 'Median'

In [282]:
df_final_new

,Subcategory,std,count,Daily Active Buyers,GMV,std_range,Platform_median_Imp,Median,Target
0,BRA,27.513890,61.0,18967,1728866.0,25-30,5896141,19148.0,0.748883
1,BRIEFS,24.965271,61.0,23818,5292758.0,20-25,5896141,23431.0,1.030941
2,CAPS & HATS,17.181335,61.0,26995,3106350.0,0-20,5896141,32062.0,1.567441
3,DHOTI / LUNGI,45.079886,41.0,2893,27855.0,30+,5896141,678.0,0.033146
4,DRESSES & GOWNS,36.827705,54.0,12566,562563.0,30+,5896141,14204.0,0.694402
...,...,...,...,...,...,...,...,...,...
92,TRACK PANTS,13.753032,61.0,38428,13231015.0,0-20,5896141,83065.5,4.060890
93,TRACK SUITS,27.535241,61.0,25338,5371613.0,25-30,5896141,20455.0,0.800000
94,TROUSERS,16.383944,61.0,28676,3908081.0,0-20,5896141,33935.0,1.659008
95,UNSTITCHED BLOUSE,28.190087,61.0,4501,32562.0,25-30,5896141,3482.0,0.136182
96,VESTS,25.798002,61.0,23250,2947361.0,25-30,5896141,21127.0,0.826282